In [1]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [10]:
df2=pd.read_csv('cars.csv')
df2

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [11]:
df2.columns

Index(['brand', 'km_driven', 'fuel', 'owner', 'selling_price'], dtype='object')

In [12]:
df=df2[['fuel','owner','selling_price']]
df

        fuel                 owner  selling_price
0     Diesel           First Owner         450000
1     Diesel          Second Owner         370000
2     Petrol           Third Owner         158000
3     Diesel           First Owner         225000
4     Petrol           First Owner         130000
...      ...                   ...            ...
8123  Petrol           First Owner         320000
8124  Diesel  Fourth & Above Owner         135000
8125  Diesel           First Owner         382000
8126  Diesel           First Owner         290000
8127  Diesel           First Owner         290000

[8128 rows x 3 columns]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df[['fuel','owner']],df[['selling_price']],train_size=0.9,random_state=42)

In [14]:
x_train

        fuel         owner
7287  Diesel   First Owner
3027  Diesel   Third Owner
2941  Petrol   First Owner
4269  Diesel   First Owner
3182  Diesel   First Owner
...      ...           ...
5226  Diesel   First Owner
5390  Diesel  Second Owner
860   Petrol   First Owner
7603  Diesel   First Owner
7270  Petrol  Second Owner

[7315 rows x 2 columns]

In [18]:
x_test

        fuel                 owner
1971  Petrol           Third Owner
4664  Diesel           First Owner
5448  Diesel           First Owner
3333  Petrol          Second Owner
2316  Diesel          Second Owner
...      ...                   ...
641   Diesel           First Owner
3815  Diesel           First Owner
6926  Diesel           First Owner
1025  Petrol  Fourth & Above Owner
6290  Petrol           First Owner

[813 rows x 2 columns]

In [20]:
ohe_fuel=OneHotEncoder(handle_unknown='ignore',sparse_output=False,drop='first')
ohe_owner=OneHotEncoder(handle_unknown='ignore',sparse_output=False,drop='first')

In [22]:
x_train_fuel=ohe_fuel.fit_transform(x_train[['fuel']])
x_train_owner=ohe_owner.fit_transform(x_train[['owner']])


x_test_fuel=ohe_fuel.transform(x_test[['fuel']])
x_test_owner=ohe_owner.transform(x_test[['owner']])

In [23]:
x_train_fuel

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [24]:
x_train_owner

array([[0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       ...,
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.]])

In [25]:
x_test_fuel

array([[0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [27]:
x_test_owner

array([[0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       ...,
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 0.]])